body {
    background-color: #efe5ed;
    background-image: url("");
  }

.stet {
    position: relative;
    position: center;
    width: 300px;
    border: 3px solid #fc94cf;
    padding: 0.5%;
    margin-top: 10%;
    margin-left: 10%;
}  

/* img {
  position: relative;
  position: center;
  width: 300px;
  border: 3px solid #fc94cf;
  padding: 0.5%;
  margin-top: 10%;
  margin-left: 10%;
 } */
  /* Style the navbar */
nav {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #f5f7fa;
  }

/* Style the navbar links */
nav {
    float: right;
    display: block;
    color: #607ef9;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }


/* div {
    width: 300px;
    margin: center;
} */

  
/* Icon - contacts bar */
.icon-bar {
    width: 100%; /* Full-width */
    background-color: #555; /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
  }
  
  .icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: rgb(52, 114, 208); /* White text color */
    font-size: 12; /* Increased font size */
  }
  
  .icon-bar a:hover {
    background-color: #4ec1ff; /* Add a hover color */
  }
  
  .active {
    background-color: rgb 52, 114, 2087; /* Add an active/current color */
  }
  
  footer {
    text-align: center;
    font-size: small;
    

  }


  