body {
    background-color: rgba(251, 3, 197, 0);
    background-image: url("");
  }

/*HOME PAGE*/
.stet {
    position: relative;
    position: center;
    width: 300px;
    border: 3px solid #FF9EFD;
    padding: 0.5%;
    margin-top: 10%;
    margin-left: 10%;
}  
p {
  text-align: justify;
}

/*NAV BAR LINKS */
.topnav {
  border: 1px solid rgb(249, 165, 165);
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: rgb(52, 114, 208);
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/*ABOUT PAGE*/
section {
  border: 1px solid blue; 
  margin:auto; 
  width: 80%; 
  height: 85vh
}

section container {
  border: 1px solid red; 
  display: inline-flex; 
  margin-top: 20vh; 
  width: 100%;
}

section section-text {
  border: 1px solid orange; 
  margin-left: 5%;
}

section banner {
  border: 1px solid green;
  margin-top: 10vh;
  display: block;
}

.section-heading {
  font-size: xxx-large; font-weight: 900;
}

h2 {
  font-size: xx-large; font-weight: 900;
}

.girl {
  width: 150px;
  height: 150px; 
  float: right;
}

/*SKILLS PAGE*/

#skills {
  .container-icons {
    border: 1px solid orange;
    padding: 5px;
    text-align: center;
  }
   .box-icon { 
      border-style: dotted;
      display: inline-block;
      padding: 8%;
      height: 60px; 
      width: 60px;
    }
}

/*PROJECTS PAGE*/

h3  {
  display: block;
  margin: 3%;
  font-weight: bolder;
}

.project {
  display: inline-block;
  margin-left: 10%;
    }

de {
      text-align: justify;
      margin-left: 100px;
    }
    
/*CONTACTS PAGE*/
.contact {
  display: wrap;
  width: 200px;
  height: 150px;
  float: right;
  margin-top: 10vh;
  padding-right: 10%;
}

form {
  display: grid;
  padding: 5%;
}

label {
  font-weight: bolder;
  text-decoration: underline;
}

input {
  text-align: justify;
  padding: 1%;
  }

.submit { 
  display:inline-flex;
  font-weight: 800px; 
  background-color: rgb(138, 223, 249);
}

.submit:hover { 
  font-weight: bolder; 
  background-color: rgb(18, 168, 214); 
}


/*CONTACTS AND COPYRIGHT BAR*/
sticky-links {
  width: 100%; 
  background-color:#70aafc; 
  position: fixed;
  right: 0;
  bottom: 0;
}

sticky-links a {
  float: left; 
  text-align: center; 
  width: 20%; 
  padding: 12px 0; 
  transition: all 0.3s ease; 
  color: rgb(52, 114, 208); 
  font-size: 12; 
}

sticky-links a:hover {
  background-color: #4ec1ff; 
}

copyright {
  background: white;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 5px;
  font-size: small;
}

.active {
  background-color: rgb 52, 114, 2087; 
}


  