
body {
    background-color: rgba(251, 3, 197, 0);
    background-image: url("");
    font-family:Arial, Helvetica, sans-serif;
}

/*NAV BAR LINKS */
.topnav {
  border: 1px solid rgb(249, 165, 165);
  position: sticky;
  top: 0;
  overflow: hidden;  
  background-color: rgb(52, 114, 208);

  nav-links {
    float: right;
  }
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
}

a:hover {
  background-color: #4ec1ff; 
}

/*HOME PAGE*/

.stet {
  width: 75%;
}

.section-des {
  font-size: larger;
}


/*ABOUT PAGE*/

section {
  border: 1px solid blue; 
  margin: auto; 
  width: 80%; 
  height: 85vh
}

section container {
  border: 1px solid red; 
  display: flex; 
  margin-top: 20vh; 
  width: 100%;
}

section image-container {
  width: 50%;
  text-align: center;
}

section section-text {
  border: 1px solid orange; 
  margin-left: 5%;
  width: 50%;
}

.profile-pic {
  width: 75%;
}

.girl {
  width: 150px;
  height: 150px; 
  float: right;
}

/*SKILLS PAGE*/

section banner {
  border: 1px solid green;
  margin-top: 10vh;
  display: block;
}

.section-heading {
  font-size: xxx-large; font-weight: 900;
}

h2 {
  font-size: xx-large; font-weight: 900;
}

#skills {
  .container-icons {
    border: 1px solid orange;
    padding: 2%;
    text-align: center;
  }
   .box-icon { 
      border-style: dotted;
      display: inline-block;
      padding: 5%;
      height: 100px; 
      width: 80px;
    }
}

/*PROJECTS PAGE*/

h3  {
  display: block;
  margin-left: 3%;
  font-weight: bolder;
}

project-row {
  display: flex;
}

.project {
  display: inline;
  margin-left: 10%;
  width: 50%;
    }

.des {
    padding-right: 5%;
    float: right;
    margin: 5%;
    width: 50%;
    }

.project-image {
  width: 55%;
}
    
/*CONTACTS PAGE*/
.contact {
  display: wrap;
  width: 200px;
  height: 150px;
  float: right;
  margin-top: 10vh;
  padding-right: 15%;
}

form {
  display: grid;
  padding: 2% 2% 5% 10%;
}

label {
  font-weight: bolder;
  text-decoration: underline;
}

input {
  text-align: justify;
  font-family: 'Times New Roman', Times, serif;
  font-size: small;
  padding: 1%;
  }

textarea { 
  text-align: justify;
  font-family: 'Times New Roman', Times, serif;
  font-size: small;
  padding: 1%;
  }

.submit { 
  display:inline-flex;
  font-weight: 800px; 
  background-color: rgb(138, 223, 249);
}

.submit:hover { 
  font-weight: bolder; 
  background-color: rgb(18, 168, 214); 
}


/*MEDIA AND COPYRIGHT BAR*/
sticky-links {
  width: 100%; 
  background-color:#70aafc; 
  position: fixed;
  right: 0;
  bottom: 0;
}

sticky-links a {
  float: left; 
  text-align: center; 
  width: 20%; 
  padding: 12px 0; 
  transition: all 0.3s ease; 
  color: rgb(52, 114, 208); 
  font-size: 12; 
}

sticky-links a:hover {
  background-color: #4ec1ff; 
}

copyright {
  background: white;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 5px;
  font-size: small;
}

.active {
  background-color: rgb 52, 114, 2087; 
}


@media (max-width: 600px) {
  body { 
    margin: 0;
    padding:0; 
  } 

  .topnav {
    width: 100%;
    text-align: center;
    position: fixed;

    nav-links {
      font-size: 0.7em;
      display: inline-block;
      float:none;
    }
  }

  section {
    height: 100vh;
  }

  section container {
    display: inline-block;
    text-align: center;
  }

  .section-heading {
    font-size: xx-large;
  }

  .section-des {
    font-size: 0.9em;
  }

  .girl {
    height: 80px;
    width: 80px;
  }

  #skills {
    .box-icon {
      width: 10%;
      height: 10%;
      vertical-align: middle;
      margin-top: 20%;
    }

    span {
      display:none
    }
  }
  /* END OF 600PX MEDIA */
}
  
